

// structural
$content-width: 1280px;
$spacing: 30px;

// breakpoints
$lg: 'screen and (max-width:1279px)';
$lg-up: 'screen and (min-width:1280px)';
$md: 'screen and (max-width:991px)';
$md-up: 'screen and (min-width:992px)';
$sm: 'screen and (max-width:767px)';
$sm-up: 'screen and (min-width:768px)';
$xs: 'screen and (max-width:479px)';
$xs-up: 'screen and (min-width:480px)';

// typography
$font-family: 'Roboto Condensed', Arial, Helvetica, sans-serif;

// colors
$white: #FFF;
$black: #000;


// Primary colors
// $primary1: $axis-blue;
// $primary2: $axis-green;

// Grays
$gray1: #F0F0F0;
$gray2: #F5F5F5;
$gray3: #DCDCDC;
$gray4: #C8C8C8;
$gray5: #CCC; // Some borders
$gray6: #B3B3B3;
$gray7: #979797;
$gray8: #52575E; // Dark input border
$gray9: #666;
$gray10: #333;
$gray11: #262626;
$gray12: #F1F1F1;
$gray13: #E8E8E8;
$gray14: #6D6D6D;
$export-message-gray: #A5A5A5;
